<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/chat.css">
    <title>Chat Simples</title>
</head>
<body>
<body>
    <nav class="nav">
        <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="destinos.html">Destinos</a></li>
            <li><a href="planejamento.html">Planejamento</a></li>
            <li><a href="contato.html">Contato</a></li>
        </ul>
    </nav>
<div class="chat-container">
    <div class="chat-messages" id="chat-messages">
    </div>
    <div class="chat-input">
        <input type="text" id="message-input" placeholder="Digite sua mensagem...">
        <button id="send-button">Enviar</button>
    </div>
</div>
    <script src="./../../controller/chat.js"></script>
</body>
</html>
